{%  extends "partials/base.html.twig" %}

{% set pageTitle = "Home" %}

{%  block content %}
    <div class="container">
        <h1>{{ pageTitle }}</h1>
        <p>Welcome to the homepage.</p>
    </div>
{% endblock %}